.bundle
.ruby-version
.ruby-gemset
Gemfile.lock
/gemfiles/*.lock
/pkg/*
/spec/internal/tmp
/spec/internal/db/*.sqlite
/spec/internal/db/*.sqlite-shm
/spec/internal/db/*.sqlite-wal
/spec/examples.txt
/src
/node_modules
