name: tests
on:
  push:
  pull_request:
  schedule:
    - cron: '45 2 * * *'

jobs:
  rspec:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        ruby-version:
          - '3.3'
        gemfile:
          - gemfiles/rails_6.x_active_admin_2.x.gemfile
          - gemfiles/rails_6.x_active_admin_3.x.gemfile
          - gemfiles/rails_7.x_active_admin_3.x.gemfile
          - gemfiles/rails_8.x_active_admin_3.x.gemfile
        include:
          - ruby-version: '4.0'
            gemfile: gemfiles/rails_7.x_active_admin_3.x.gemfile
          - ruby-version: '4.0'
            gemfile: gemfiles/rails_8.x_active_admin_3.x.gemfile

    env:
      BUNDLE_GEMFILE: ${{ matrix.gemfile }}

    steps:
      - uses: actions/checkout@v2
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby-version }}
          bundler-cache: true
      - name: Run tests
        run: bundle exec rspec
